*

!.gitignore
!.gitkeep
!.env_example

!*.py
!Makefile
!LICENSE
!README.md
!requirements.txt
!requirements_finetune.txt

!assets
!assets/**

!results

!synapse
!synapse/agents
!synapse/agents/**
!synapse/envs
!synapse/envs/**
!synapse/memory
!synapse/memory/**
synapse/memory/*/*.faiss
synapse/memory/*/*.pkl

__pycache__/
.DS_Store
